name: Build and deploy Python app to Azure Web App - Tugas15

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_5184A8E1FDB84BF4BEB88976FB94142B }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_A0EF18989BB04BC799837BC7B537F8AE }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_82FBDFE014DD4D3CAF38A1CC53765CD7 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'Tugas15'
          package: .
